<div style='padding: 5px'>
  <mat-card-title fxLayout="row"><mat-label>Employees List</mat-label></mat-card-title>

  <mat-form-field fxLayout="row">
    <input matInput (keyup)="filterEmployees($event.target.value)" placeholder="Search Employee">
  </mat-form-field>
  <table mat-table
       [dataSource]="employeesDataSource" multiTemplateDataRows
       class="mat-elevation-z8" >
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToShow">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let employee"> {{employee[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let employee" [attr.colspan]="columnsToShow.length">
      <div class="employee-detail"
           [@expandEmployee]="employee == expandedEmployee ? 'expanded' : 'collapsed'"
           fxLayout="row wrap">
          <div [fxFlex]="10" class="employee-diagram">
            <mat-icon >person</mat-icon>
          </div>
          <div [fxFlex]="90">

              <mat-card-title>Employee Details</mat-card-title>
              <mat-card-content>
                <mat-label [fxFlex]="20">First Name: {{employee.firstName}}</mat-label>
                <mat-label [fxFlex]="20">Last Name: {{employee.lastName}}</mat-label>
              </mat-card-content>
              <mat-card-content>
                <mat-label [fxFlex]="20">Employee Id: {{employee.empId}}</mat-label>
                <mat-label [fxFlex]="20">Email Id: {{employee.email}}</mat-label>
              </mat-card-content>
              <mat-card-content>
                <mat-label [fxFlex]="20">Contact: {{employee.mobileNo}}</mat-label>
                <mat-label [fxFlex]="20">Previous Company: {{employee.firstName}}</mat-label>
              </mat-card-content>
              <mat-card-content>
                <mat-label [fxFlex]="20">Joining Date: {{employee.firstName}}</mat-label>
                <mat-label [fxFlex]="20">Address: {{employee.firstName}}</mat-label>
              </mat-card-content>
              <mat-card-content>
                <mat-label [fxFlex]="20">Role: {{employee.firstName}}</mat-label>
                <mat-label [fxFlex]="20">Gender: {{employee.firstName}}</mat-label>
              </mat-card-content>

          </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
  <tr mat-row *matRowDef="let employee; columns: columnsToShow;"
      class="employee-row"
      [class.example-expanded-row]="expandedEmployee === employee"
      (click)="expandedEmployee = expandedEmployee === employee ? null : employee">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="employee-detail-row"></tr>
</table>
</div>
